header {
  background-color: white;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main-header nav {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
  padding: 14px;
}

.main-header img {
  width: 160px;
  height: 100%;
}

.main-ul {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.main-ul li {
  text-decoration: none;
  list-style-type: none;

  font-size: 18px;
  font-weight: 600;

  text-transform: uppercase;
  color: black;
}

section {
  margin-top: 68px;
}

.car-section {
  background-image: url('assets/carro.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;

  width: 100%;
  height: 454px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding: 0 24px;
}

.car-section p {
  font-size: 52px;

  font-weight: bold;
  color: #c1e11ddd;
}

.car-section span {
  font-weight: bold;
  color: #ffffffdd;
}

.moto-section {
  padding: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 44px;
}

.moto-section h2 {
  color: green;
  font-weight: bold;
}

.moto-section img {
  width: 400px;
}

.moto-section div {
  width: 550px;
}


.inov-section {
  background: #B4CD1A;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 44px;
}

.inov-section img{
  justify-content: right;
  width: 600px;

}



footer {
  display: flex;
  padding: 24px;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 20px;
}

.about div img {
  width: 100px;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;

  gap: 12px;
}

.gradient-1 {
  height: 100px;
  width: 100%;
  background-image: linear-gradient(#fdcf2e, white);
}

.gradient-2 {
  height: 100px;
  width: 100%;
  background-image: linear-gradient(white, #fdcf2e);
}

.gradient-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.container-imgs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.gradient-section p {
  font-size: 24px;
  font-weight: bold;
}

.gradient-section img {
  width: 40%;
  border-radius: 22px;
}

.fundomapa{
  background-color: #fdcf2e;
  padding: 50px;
  height: 610px;
  
}

.fundomapa img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 5px;

}

/* css produtos linhas de codigo abaixo */

.fundoprod{
  background-color: #fdcf2e;
  padding: 50px;
  
}

.h1produtos{
  text-align: center;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

hr.style-four {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 2);
}

.grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto auto;
}

.card {
  background-color: orange;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
  transition: 0.3s;
  border-radius: 5px;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  justify-content: space-between;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/* css Formulario */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.bodyform { background-color: #fdcf2e;
  display:flex;
  justify-content: left;
  max-width:auto;
  margin:50px auto;
  height: 750px;
 }

.imgajuda{
  display: flex;
  justify-content: right;
  
}



.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: white;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 20px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:4px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:orange;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:rgb(0, 0, 0);
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

/* css produto isolado */

